* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #22252c;
}

canvas {
    border: 1px solid black;
    border-radius: 30px;
}

.main-container {
    margin-top: 20px;
}

button {
    box-shadow: 1px 3px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 15px;
    font-size: 1.5em;
    border: 1px solid black;
    background-color: #f8f8f8;
    cursor: pointer;
    padding: 5px 10px;
}

.btn-download {
    background: #072eefc8;
    border: 1px solid #4665ff5d;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 5px;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    align-items: center;
    box-shadow: 1px 3px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.btn-save {
    background: #a507efc8;
    border: 1px solid #4665ff5d;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 5px;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    align-items: center;
    box-shadow: 1px 3px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.btn-add-line {
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);

}

.btn-switch-line {
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.btn-delete-line {
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.hidden {
    display: none;
}