@media (max-width: 1030px) {
    .editor {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        gap: 50px;
/*         align-items: center; */
    }

    .edit-tools-container {
        width: 20em;
    }

    .my-canvas {
        width: 350px;
        height: 350px;
    }

    .edit-tools-container>* {
        margin-top: 10px;
        justify-content: center;
        display: flex;


    }

    .text-editor-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        padding: 5px;
        /* width: 100%; */
        height: 8em;
        border-radius: 15px;
        background-color: #19a59f;
        box-shadow: 1px 3px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    }

    .line-editor-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .text-input {
        width: 8em;
        height: 1.5em;
        font-size: 1.5em;
    }

    .font-family-selector {
        gap: 10px;
        width: 10em;
        margin: 1em;
    }

    .font-selector {
        font-size: 1.5em;
        width: 5em;
    }

    .paint-brush {
        font-size: 2em;
        height: 2em;
        color: #fff;
        cursor: pointer;
        font-family: Helvetica, Arial, sans-serif;

    }

    button {
        font-size: 1em;
        padding: 5px 10px;
    }

    .btn-download {
        font-size: 1.5em;
        margin: 0 5px;
        padding: 5px 10px;
    }

    .btn-save {
        font-size: 1.5em;
        margin: 0 5px;
        padding: 5px 10px;

    }

    .meme-options {
        height: 4.5em;
        display: flex;
        align-items: center;
    }

    .hamburger-menu {
        display: flex;
    }

    .link-bar {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 60px;
        top: 40px;
        background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
        background-color: #5970c1;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        padding: 20px;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 1s ease, transform 1s ease;
    }

    .link-bar.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .link-bar a {
        font-size: 1.2rem;
        margin: 10px 0;
    }

    
}


@media (max-width: 680px) {

.modal {
    display: none;
    position: fixed;
    top: 1.5em;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1em;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease-in-out;

}

.modal .arrow {
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    transform: translate(-50%, -50%) rotate(180deg);
    color: white;
}

.modal.show-top{
    top: 2em;
}

.modal.show-top .arrow {
    color: yellow;
    /* font-size: 1.2em; */
}
}
